.menubar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 70px;
  border-bottom: 1px solid lightgrey;
  margin-left: 300px;
}

.userMenu {
  position: relative;
  width: 70px;
  height: 70px;
  background: lightgrey;
}

.userMenu::before {
  display: block;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  font-family: 'FontAwesome';
  content: '\f2bd';
}

.userMenu ul {
  position: absolute;
  top: 70px;
  right: 10px;
  display: none;
  width: 220px;
  padding: 10px 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}

.userMenu:hover ul {
  display: block;
}

.userMenu li {
  padding: 0 10px;
  line-height: 50px;
}

.userMenu li:hover {
  background: lightgrey;
}
